@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
}
body{
  background: #272727;
  margin: 0 auto;
}

.container{
  position: relative;
  background: rgba(168, 168, 168, 0.329);
  margin: 10em auto;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.486);
  border-radius: 15px;
  width: 20em;
  height: 20em;
}
.container-title{
  margin: 0 3.5em auto;
  color: rgb(158, 133, 113);
  text-shadow: 1px 1px 2px black ; 
}
.container-search{
  height: 15px ;
  margin: 3em 6.5em auto;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
}
.container-search::placeholder{
  font-size:12px;
}
.container-button{
  cursor: pointer;
  text-align: center; 
  background:rgba(168, 142, 120, 0.459);
  letter-spacing: 0;
  color: rgb(158, 133, 113);
  text-shadow: 0.5px 0.5px 0.1px black ; 
  font-size:12px;
  position: relative;
  margin: 0em 21em ;
  top:-25px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
}
.container-button:hover{
  background:rgb(197, 150, 111);
}
.container-text{
  background:transparent;
  position: absolute;
  height: 14.73em;
  margin: 0 -1px auto;
  width: 23.65em;
  border: 1px solid transparent;
  resize: none;
  outline: none;
  border-radius: 0 0 15px 15px;
}
.container-text{
  color: white;
}
.inputs-form{
  color: rgb(223, 79, 79);
  width: 75%;
  position: absolute;
  top: 3em;
  left: 8em;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  background:transparent;
  font-size:11px;
}